body {
  background-image: linear-gradient(
    to right bottom,
    #141316,
    #1f1e23,
    #292a30,
    #33373f,
    #3c444d,
    #44505a,
    #4c5c66,
    #546973,
    #5e7881,
    #68878e,
    #72969b,
    #7ea6a7
  );
}

h1,
h2 {
  text-align: center;
  padding: 10px;
  color: white;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
