@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Frank+Ruhl+Libre:wght@300;400;500&display=swap");

body {
  background-image: linear-gradient(
    to right bottom,
    #141316,
    #1f1e23,
    #292a30,
    #33373f,
    #3c444d,
    #44505a,
    #4c5c66,
    #546973,
    #5e7881,
    #68878e,
    #72969b,
    #7ea6a7
  );
}

.navbar,
.navbar-expand-lg,
.navbar-brand {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 20px;
}
h1,
h3 {
  text-align: center;
  padding: 10px;
  color: white;
  font-family: "Fjalla One", sans-serif;
}
h2 {
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: whitesmoke;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#img-caption {
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
  color: whitesmoke;
  font-size: 18 px;
}

p {
  font-family: "Frank Ruhl Libre", serif;
  color: whitesmoke;
  font-size: 18 px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 30px;
}
